<html>
<head>
	<%= stylesheet_link_tag "mystyle.css" %>
	<title>Places</title>
</head>
<body>
<div id='containerheight'>
	<h1>Select a place!</h1>
	<div id='mycenter2' class='shadow1'>
		<div id='mybox'  >
			<ul>
  		<% @places.each do |place|%>
    
   		<li>
   		<div id='aplace' class='shadow2'>
   			<h3><%= link_to place.name, user_place_path(place, :user_id => place.user_id) %>
      	</h3> 
    
     	 <p>-<%= place.description %><p> 
   		</div>
      	
  		 </li>

  		<% end %>
		</ul>

		</div>
		
	</div>

</div>
	

</body>
</html>



